* {
    color:rgba(235, 235, 235, 0.846)
}

input {
    outline: none;
    background-color: rgba(45, 45, 45, 0.846);
    font-size: 50px;
    font-weight: 700;
}

input[type=button], input[type=Submit] {
    outline: none;
    background-color:blue
}